.cont-all {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  background-color: white;
  height : 450px;
}

.card-inner h2 {
  border-bottom: 1px solid lightgrey;
}

.inner-text {
  background: antiquewhite;
  width: 450px;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.card-inner .inner-desc {
  text-align: center;
}

.inner-button > button {
  background-color: white;
  &:hover {
    background-color: antiquewhite;
  }
}

.inner-text:before {
  // content: "";
  // position: absolute;
  // display: block;
  // width: 60px;
  // height: 5px;
  // background: #1a1a1a;
  // top: 0;
  // left: 0;
}

.detail-card {
  width: 48%;
  height: 300px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
}
