<div class="container pt-5">
  <h1>Découvrez de fabuleuses créations</h1>
  <div class="card-group">
    <div class="row">
      <% @pieces.each do |piece| %>
        <div class="col-6">
          <div class="card card-index my-5" style="width: 20rem;">
            <%= cl_image_tag piece.photo.key, class: "card-img-top"%>
            <div class="card-body">
              <h5 class="card-title"><%= piece.name%></h5>
              <p class="card-text">Lalala some content for demo day.</p>
              <%= link_to "Voir le détail", piece_path(piece), class: "btn btn-primary"%>
            </div>
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>
      


  

 

