<h1>Piece show</h1>
<%= @piece.name %>
<%= @piece.category.title %>

<%= link_to "I want that", edit_piece_path(@piece) %>

<p>euh...y'a un truc qui cloche ! la show du debut peut pas etre la meme que le recap de commande ??</p>
<% if @editable %>
  <p>La piece a ete modifie</p>
<% end %>