<h1>Piece show</h1>
<h2><%= @piece.category.title.capitalize %></h2>
<%= @piece.name %>

<%= link_to "I want that", pieces_path(id: @piece.id), method: :post %>

<% if @editable %>
  <p>La piece a ete modifiée</p>

<%= link_to "I want that", piece_orders_path(@piece), method: :post %>

<% end %>
