<h1>Piece show</h1>
<h2><%= @piece.category.title.capitalize %></h2>
<%= @piece.name %>

<%= link_to "I want that", edit_piece_path(@piece) %>

<p>Display le detail d'un objet d'1 category</p>
<% if @editable %>
  <p>La piece a ete modifie</p>
<% end %>