<div class="banner">
  <div class="header-container">
    <h1>WOODSTOCK</h1>
    <p>Créez le meuble de vos envies</p>
    <%= link_to "Je me lance", "#", :class => "btn btn-flat btn-info" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/geometry.svg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Imaginez votre meuble</p>
          </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/../assets/images/blueprint.svg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Modélisez-le facilement</p>
          </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/settings.svg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Un artisan produit votre création</p>
          </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./../assets/images/geometry.svg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Livré directement chez vous!</p>
          </div>
      </div>
    </div>
  </div>
</div>
