.form-sign-up {
  background: white;
  padding: 15px 40px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
}

.form-login {
  background: white;
  padding: 15px 40px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
}

.form-actions > .btn-flat {
  margin-bottom: 10px;
  margin: 0;
}

// BELOW IS THE CODE FOR THE PIECES#EDIT PAGE FORM

.form-edit {
  background-color: white;
  padding: 25px;
  border-radius: 4px;
}

.form-edit select {
  border-radius: 2px;
  border-color: rgb(235,235,235);
}

.form-edit {
  .form-control {
    border-radius: 2px;
    border-color: rgb(235,235,235);
  }
}

.form-edit {
  .form-group {
    margin: 0;
    }
}

.input-form-edit {
  margin-bottom: 1em;
}

.form-edit {
  .btn-flat {
    margin: 0;
    background: rgba(254, 200, 154, 0.3);
    color: black;
    border-radius: 9999em;
    border-color: none;
  }
}

.validation {
  .btn-flat {
    background: #fec89a;
  }
}

.form-name {
  background-color: white;
  padding: 25px;
  border-radius: 4px;
}

.form-name {
  .form-control {
    border-radius: 2px;
    border-color: rgb(235,235,235);
  }
}

.form-name {
  .btn-flat {
    margin: 0;
    color: black;
    border: none;
  &:hover{
    background: #f7ab7e;
    }
  }
}

// .btn-flat:hover {

// }





