.form-sign-up {
  background: white;
  padding: 15px 40px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
}

.form-login {
  background: white;
  padding: 15px 40px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
}

.form-actions > .btn-flat {
  margin-bottom: 10px;
  margin: 0;
}

.form-edit select {
border-radius: 2px;
border-color: grey;
}

.form-edit input {
border-radius: 2px;
}

.form-edit {
  .btn-flat {
    margin: 0;
  }
}
.form-edit {
  background-color: white;
  padding: 25px;
  border-radius: 4px;
}

.simple_form label {
  display: inline;
}

.form-edit {
  .form-group {
    margin: 0;
    }
}

.input-form-edit {
  margin-bottom: 1em;
}
