// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/form";

@import "sweetalert2/src/sweetalert2.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  position: relative;
}

.container-top {
  margin-top: 100px;
}

//TEST A BIEN RANGER
.swal2-radio {
  display: grid !important;
  text-align: left !important;
}

.swal2-styled.swal2-confirm {
  border-radius: 9999em !important;
  background-color: #fec89a !important;
  border-color: #fec89a !important;
  color: black !important;
}
